body{
    background-color:black;
}
.container { 
    display : flex;
    justify-content: center;
    
}
.box{
    background-color :#243447;
    width : 500px;
    height : 250px;
    border-radius: 10px;
    padding : 10px;
}
img{
    display:inline;
    width : 60px;
    height : 60px;
    border-radius: 100%;
}
.header{
    background-color: #243447;;
    height : 170px;
    padding : 15px;
}
#Tweet{
    color : White;
    font-size: 22px;
}
#Time {
    color : #a9a9a9;
}
.buttons{
    display :flex;
    justify-content: center;
    align-content: center;
}
button{
    margin-left :25px;
    margin-right : 25px;
    margin-top : 10px;
    background-color : #243447;
    border :none;
    color : white;
    font-size : 18px;
}
#id{
    color: #ffff;
    display : inline;
    position: absolute;
    top : 7%;
    margin-left : 25px;
    font-size : 18px;
}
