body{
    background-color: orangered;
}
.container {
    display : flex; 
    justify-content: center;
    flex-wrap:wrap;
}
table{
    background-color : #c10f0c;
    padding : 20px;
}
tr,td{
    border : 1px solid orangered;
    color : #fff;
    height : 50px;
}
th{
    border : 2px solid orange;
    height : 35px;
}
tr:nth-child(odd){
    background-color :orangered;
}
tr:nth-child(even){
    background-color : rgb(255, 166, 0);
}